# Node modules
node_modules/

# Expo
.expo/
.expo-shared/
web-build/
dist/
expo-env.d.ts

# Logs
npm-debug.*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Android
android/.gradle/
android/app/build/
android/.idea/
*.iml
*.keystore

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace/
ios/Podfile.lock

# VS Code / JetBrains IDEs
.vscode/
.idea/*
!/.idea/file_to_keep.xml

# OS-specific
.DS_Store
Thumbs.db

# Security & certs
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Misc
*.orig.*
*.log
.env
